<img
  title="Wave BG"
  class="iWaveBg"
  srcset="
    https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
  "
/>
<div id="page-container">
  <nav>
    <a class="homepage-link">
      <img class="global-nav-img" src="/assets/logo.png" />
    </a>
  </nav>
  <main id="main-wrap">
    <div class="main-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer>
    <div class="footer-wrapper">
      <section class="flex-item">
        <div class="footer-section-links">
          <a aria-disabled="false" aria-label="About link">About</a>
          <a aria-disabled="false" aria-label="Privacy Policy link"
            >Privacy Policy</a
          >
          <a aria-disabled="false" aria-label="Cookie Policy link">
            Cookie Policy</a
          >
        </div>
      </section>
      <section class="flex-item">
        <div class="footer-section-links">
          <p aria-label="Contact us on +44 (0) 330 161 123">Contact Us</p>
          <a aria-disabled="false">Terms &amp; Conditions</a>
        </div>
      </section>
    </div>
  </footer>
</div>
